#catalogDiv {

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 100px;
  gap: 24px;
  border-radius: 10px;
}

#catalogDiv div {
  flex: 1 1 calc(25% - 20px);
  /* 4 items in a row */
  max-width: calc(25% - 20px);
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products img {
  width: 412px;
  height: 549px;
  filter: grayscale(5%) brightness(97%);
}

.pageButtons {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.pageButtons button {
  padding: 6px 10px;
  cursor: pointer;
  background:none;
  font-size: 14px;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  font-weight: 500;

}

.nonActiveButton {
  border: 1px solid grey;
  color:rgba(33, 43, 54, 1);
}

.activeButton {
  border: 1px solid rgba(255, 64, 0, 1);
  color:rgba(33, 43, 54, 1);
}

.changePage {
  border: none;
  color: rgba(33, 43, 54, 1);
}